<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->
    <!--&lt;!&ndash;邮件服务&ndash;&gt;-->
<!--<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
    <!--<property name="host" value="smtp.163.com"/>-->
    <!--&lt;!&ndash;端口号&ndash;&gt;-->
    <!--<property name="port" value="25"/>-->
    <!--<property name="protocol" value="smtp"/>-->
    <!--<property name="username" value="ygy1982088424@163.com"/>-->
    <!--<property name="password" value="ygy123"/>-->
    <!--<property name="defaultEncoding" value="UTF-8"/>-->
    <!--<property name="javaMailProperties">-->
       <!--<props>-->
           <!--<prop key="mail.smtp.auth">true</prop>-->
           <!--<prop key="mail.smtp.timeout">25000</prop>-->
       <!--</props>-->
    <!--</property>-->
<!--</bean>-->
    <!--&lt;!&ndash; this is a template message that we can pre-load with default state &ndash;&gt;-->
    <!--<bean id="templateMessage" class="org.springframework.mail.SimpleMailMessage">-->
        <!--<property name="from" value="ygy1982088424@163.com"/>-->
        <!--<property name="subject" value="尝试发邮件"/>-->
    <!--</bean>-->

    <!--<bean id="orderManager" class="com.ygy.MailUtil.mailUtil">-->
        <!--<property name="mailSender" ref="mailSender"/>-->
        <!--<property name="templateMessage" ref="templateMessage"/>-->
    <!--</bean>-->

<!--</beans>-->